<div class="container mx-auto" >

    <div class="row">
      <app-description></app-description>     

    <div class="container col-xl-6 col-lg-6 col-md-10 col-sm-10 ">
      <form class="container mt-4" >
       
       <input type="text" name="searchValue" [(ngModel)]="searchValue" (keydown)="send()" placeholder="Search your favorite person" class="form-control" >
       <div class="row ">
        
        <div class="col-6">
          <h3>Status</h3>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="status"  value="alive"  type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Alive
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="status" value="dead" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Dead
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" [(ngModel)]="status"  value="unknown" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Unknowm
            </label>
          </div>
        </div>  
        <div class="col-6">
          
        </div>      
      </div>
      </form>
    </div>
    <div class="row mt-3">   
        
               
                  
                       
           
        <div class="col-lg-6 col-md-6 col-sm-6 mx-auto mb-4" *ngFor="let item of list" >
            
            <div class="card mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img [src]=[item.image] class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text">Id : {{item.id}}</p>
                      <a class="card-title" [routerLink]="['/details/',item.id]">{{item.name}}</a>
                      <p class="card-text">Status : {{item.status}}</p>
                      <p class="card-text">Specie :{{item.species}}</p>
                      <p class="card-text">Gender :{{item.gender}}</p>
                      <p class="card-text">Origin  :{{item.origin.name}}</p>
                    </div>
                  </div>
                </div>
              </div>
              
                
        </div>
       

    </div>
    <div class="col-4 mx-auto">
        <div class="spinner-border text-primary "  role="status" *ngIf="isSuccess" style="max-width: 30%;">
            <span class="visually-hidden">Loading...</span>
          </div>
 
    </div>
    </div>            
</div>
